<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS - v-if v-else Template</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <template v-if="!message">
                        <h3>Write your suggestion</h3>
                        <p>The support team responds in maximum four hours</p>
                        <p><em>You could use Twitter to communicate with us</em></p>
                    </template>
                    <h3 v-else>Press ENTER to Send</h3>
                    <textarea v-model="message" class="form-control"></textarea>

                </div>
                <div class="col-md-7">
                    <h1>JSON</h1>
                    <pre>
                        {{ $data }}
                    </pre>
                </div>
            </div>
        </div>
    </div>



    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script><!-- Vue -->
    <!-- Vue Instance -->
    <script>
        new Vue({
            el: '#main',
            data: {
                message: ''
            },
            /* Methods */
            methods: {

            }
        });
    </script>
</body>

</html>